@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons";


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --github-green: #6ce778;
  --github-red: #ff7b72;
  --github-blue: #a5d6ff;
  --github-blue2: #79c0ff;;
  --github-border: 1px solid #2D3139;
  --github-bg:#010409;
  --github-grey: #36334280;


  --autocomplete-width: 250px;
  --autocomplete-height: 100px;


}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
p {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  background-color:  #0D1117;;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track { 
  border-radius: 10px;
  background: #000; 
  
}
 
::-webkit-scrollbar-thumb {
  background: var(--github-blue); 
  border-radius: 10px;
  &:hover {
    background: var(--github-blue2); 
  }
}

.bg-black {
  background: #010409;
}

.cm-tooltip-autocomplete {
  background-color: var(--github-bg)!important;
  border: var(--github-border);
  min-width: var(--autocomplete-width);
  min-height: var(--autocomplete-height);
  display: flex;
  div {
    width: 100%;
    height: 100%;
  }

}

.cm-theme, .cm-scroller,.cm-editor, .cm-gutters {
  min-height: 100%;
}

.ͼ1l {
  background-color: #010409;
  color: #c9d1d9;
}
.ͼ1.cm-focused {
  outline: none;
}

.ͼ1 .cm-foldPlaceholder{
  background-color: transparent;
  border-color: transparent;
}

#shared {
  .ͼ1o {
  color: var(--github-green);
  }
  .ͼ1n {
    color: var(--github-blue);
  }
}

.ͼ3 .cm-gutters {
  background-color: #0D1117;
}
.err {
  color: var(--github-red);
  display: flex;
  &::before {
    content: ">";
    color: var(--github-red);
    // margin: auto 9px
    margin-right: 7px;
  }
}

.console {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 15px;
  &::before {
    position: absolute;
    left: -15px;
    top: 0px;
    content: ">";
    color: var(--github-green);

  }
}

code {
  color: #fff;
}

.codeinput {
  input {
    all: unset;
    min-width: 160px;
    height: 20px;
    background-color: #010409;
    border: var(--github-border);
    padding: 4px 8px;
    color: #fff;
    &:hover, &:focus {
      background-color: #2D3139;
    }
  }
}

footer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  background-color: #010409;
  color: rgba(255, 255, 255, 0.553);
  a {
    color: white;
    &:hover {
      color: var(--github-green);
    }
  }
}

.markdown-body {
  background-color: var(--github-bg);
  // border: var(--github-border)!important;
  min-height: 100px;
  color: #fff;
}

.cm-content {
  min-height: 100px;
}