
.Markdown{
  position: relative;
  background: #010409;
  border: 1px solid #2D3139;
  overflow: hidden;
  min-height: 200px;
  
  code {
    padding: 1.5rem 3rem;
    margin: 0;
  }
  pre {
    padding: 0;
    margin: 0;
    min-height: 150px;
    display: flex;
  }
  textarea {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;
    color: rgba(255, 0, 0, 0);
    padding: 17px 17px;
  }
}

.Button{
  all: unset;
  background-color: #010409;
  border: 1px solid #2D3139;
  padding: .5rem 1rem;
  &:hover{
    background-color: #25292D;
  }
}

.codespace {
  position: relative;
  background: #010409;
  border: 1px solid #2D3139;
  min-height: 200px;
  width: 100%;
  padding-bottom: 25px ;
  margin-bottom: 40px;

  ul {
    position:absolute;
    bottom: -40px;
    left: 0;
    padding: 0;
    z-index: 10;
    color: white;
    display: flex;
    gap: 2rem;
    justify-content: center;
    width: 100%;
    transition: all .3s ease-in-out;
  }
}

