.Button {
  all: unset;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  background-color: #010409;
  border: 1px solid #2d3139;
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  cursor: pointer;
  
  i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--github-green);
  }
  &:hover {
    background-color: #25292d;
  }
  &:focus-visible {
    outline: 1px solid white;
  }
  &:disabled {
    color: #2d3139;
    cursor: not-allowed;
    i {
      opacity: 50%;
    }
    &:hover {
      background-color: #010409;
    }
  }
}

.rotateLogo {
  &:active i,
  &:hover i {
    animation: rotate 6s linear;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

.codespace {
  position: relative;
  background: #010409;
  border: var(--github-border);
  min-height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;

  position: relative;
  &::before {
    content: "〔 " attr(data-running) " 〕";
    color: var(--github-green);
    position: absolute;
    top: 0;
    left: -40px;
    transform: translate(-50%, 0);
  }
  ul {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    padding: 0;
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr); 
    transition: all 0.3s ease-in-out;
    button {
      border-radius: 0!important;
    }
  }
}

.results {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.domStyle {
  width: 100%;
  text-align: end;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  ul {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
}

.WebBuilder {
  width: calc(9 / 10 * 100vw);
  height: calc(9 / 10 * 100vh);
  margin: 0 auto;
  position: relative;
  gap: 1rem;
  overflow: hidden;
  ul {
    position: absolute;
    bottom: calc(-40px + -1rem);
    left: -1px;
  }
  iframe {
    width: 100%;
    height: 100%;
    border: var(--github-border);
    background-color: var(--github-bg);
  }

  main {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;

    display: flex;
    gap: 1rem;

    li {
      flex: 1;
      list-style: none;
      overflow-y: auto;
      border: var(--github-border);
      background-color: var(--github-bg);
    }
  }
}

.DesktopView {
  display: flex;
  flex-direction: column;
  main {
    // resize: horizontal;
    max-height: 300px;
    overflow-y: scroll;
    flex-direction: row;
  }

  iframe {
    resize: vertical;
    min-height: 500px;
  }
}

.MobileView {
  display: flex;
  flex-direction: row;
  main {
    // resize: horizontal;
    flex-direction: column;
  }

  iframe {
    resize: horizontal;
  }
}

@media (width < 768px) {
  .WebBuilder {
    main {
      display: none;
    }
  }
}

.Markdown {
  div[class="markdown-body"] {
    background-color: var(--github-bg) !important;
  }
  div[class="cm-gutters"] {
    display: none !important;
  }
}

.GPTform {
  display: flex;
  gap: 10px;
  padding: 10px;

  border: var(--github-border);
  background-color: var(--github-bg);
  input {
    all: unset;
    flex-grow: 1;
    color: #c9d1d9;
  }
  i {
    color: var(--github-green);
    font-size: 20px;
  }
}


.Profile {
  margin-top: 3rem ;
  header {
    margin-bottom: 5rem;
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
    p {
      font-size: large;
      color: white;
      opacity: .5;
    }
  }
  table {
    width: 100%;
    margin-bottom: 5rem;
    font-family: monospace;
    thead{
      background-color: var(--github-bg);
      border: var(--github-border);
      font-family: system-ui, sans-serif;
      td {
        padding: .5rem; 
        opacity: .5;
      }
    }

    tfoot {
      font-family: system-ui, sans-serif;
      border: none;
      tr {
        td {
          border: var(--github-border);
          background-color: var(--github-bg);
          
          input {
            all: unset;
            width: 100%;
            padding: .5rem;
          }
          input[type='radio']{
              accent-color: white;
              opacity: .7;
              -webkit-appearance: radio;
              appearance: radio;
              width: 1rem;
              &:checked {
                accent-color: var(--github-green);
              }
          }
        }
        &:has(p){
          border: none;
          background-color: transparent;
        }
      }
    }
    
    tbody {
      border: var(--github-border);
      tr {
          position: relative;
          background-color: transparent;
          outline: var(--github-border);
          td {
            border-left: var(--github-border);
            padding: .5rem;
          }
          &:hover {
            background-color: var(--github-bg);
            color: white;
            a {
              color: white;

            }
          }
        

        td:has(a) a {
          padding-left: 1rem;
          &::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
          }
        }
      }
      
    }
  }
}

.Loading {
  min-height: 40vh;
}

.Input {
  width: 100%;
  color: #2D3139;
  max-width: 500px;
  background-color: #010409;
  border: 1px solid #2d3139;
  padding: 0.5rem;
  transition: all 0.1s ease-in-out;
  &:hover, &:focus {
    background-color: #2D3139;
  }
  &:focus-visible {
    outline: 1px solid white;
  }
}

.mockup {
  margin-top: 5rem;
  position: relative;
  img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    // aspect-ratio: 8/16;
  }
  &::before {
    content: '';
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    position: absolute;
    inset: 0;
    transform: translateX(-5px);
    margin: auto;
    z-index: -1;
    background: #8A2387;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
}

.privacyChip {
  background-color: none;
}