
.Markdown{
  position: relative;
  background: #010409;
  border: 1px solid #2D3139;
  overflow: hidden;
  min-height: 200px;
  
  code {
    padding: 1.5rem 3rem;
    margin: 0;
  }
  pre {
    padding: 0;
    margin: 0;
    min-height: 150px;
    display: flex;
  }
  textarea {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;
    color: rgba(255, 0, 0, 0);
    padding: 17px 17px;
  }
}

.Button{
  all: unset;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  background-color: #010409;
  border: 1px solid #2D3139;
  padding: .5rem 1rem;
  display: flex;
  gap: .3rem;
  i {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &:hover{
    background-color: #25292D;
  }
}

.rotateLogo {
  &:active i,&:hover i{
    animation: rotate 6s linear;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg); 
    -moz-transform: rotate(0deg);    
    transform:rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); 
    -moz-transform: rotate(360deg);    
  }
}



.codespace {
  position: relative;
  background: #010409;
  border: 1px solid #2D3139;
  min-height: 200px;
  width: 100%;
  // padding-bottom: 25px ;
  // margin-bottom: 40px;

  ul {
    position:absolute;
    bottom: 1rem;
    right: 1rem;
    padding: 0;
    z-index: 10;
    color: white;
    display: flex;
    gap: 2rem;
    justify-content: center;
    // width: 100%;
    transition: all .3s ease-in-out;
  }
  
}

.results {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.domStyle {
  width: 100%;
  text-align: end;
  & span {
    color: var(--github-green);
  }
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  ul {
    display: flex;
    gap: 1rem;
  }
}